@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlbertSans";
  src: url("/fonts/AlbertSans.ttf");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition;
}
